<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Security Application</title>
    <!-- Bootstrap for styling -->
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container right-panel-active">
        <!-- Sign Up -->
        <div class="container__form container--signup">
            <form th:action="@{/cadastro}" method="post" th:object="${paciente}" enctype="multipart/form-data" id="form1" class="form">
                <h2 class="form__title">Cadastrar</h2>
                <input type="email" placeholder="Email" class="input" th:field="*{email}" id="email"/>
                <input type="password" placeholder="Senha" class="input" th:field="*{senha}" id="senha"/>

                <button type="submit" class="btn">Sign Up</button>
            </form>
        </div>

        <div th:if="${msgErro}" class="alert alert-danger">
            <p th:text="${msgErro}"></p>
        </div>

        <!-- Sign In -->
        <div class="container__form container--signin">
            <form class="form" id="form2" method="post" th:action="@{/login}">
                <h2 class="form__title">Entrar</h2>
                <input type="email" placeholder="Email" name="username" class="input" />
                <input type="password" placeholder="Password" name="password" class="input" />
                <a href="#" class="link">Esqueceu sua senha?</a>
                <button type="submit" class="btn">Entrar</button>
            </form>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Entrar</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>